# Gradle / Android Studio
.gradle/
build/
app/build/
*.iml
.idea/
local.properties
.cxx/
Captures/

# Pliki kopii i edytorów
.backups/
*.bak
*~
*.swp
.DS_Store
Thumbs.db

# Narzędzia pomocnicze / Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
venv/
.env

# Duplikaty i pliki tymczasowe pobierania
* (1).*